*{
  font-family: Open Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6, #title{
  font-family: Montserrat, sans-serif;
}

#title{
  color: #FF9933;
}

a, a:visited, a:active{
  text-decoration: none; color: #FF9933;
}

a:hover{
  color: #d96c00;
}
