<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sängerkreis Mainspitze - 404</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style type="text/css" media="screen">
      .container {
        margin: 10px auto;
        max-width: 600px;
        text-align: center;
        font-family: Roboto, sans-serif;
      }
      h1 {
        margin: 30px 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
      }
      a{
        text-decoration: none;
        color: orange;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{content}}
      </div>
  </body>
</html>
